.knowmore-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    background-color: #c8e9e6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.Model-yolov8 {
    width: 100%;
    height: 60vh;
    background-image: url("./Images/yolov8.gif");
    background-size: cover;
    background-position: center;
    position: relative;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 15px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px;
}

.Yolov8-text {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffffda;
    margin-bottom: 10px; /* Adjust the margin to control spacing */
    line-height: 0.7;
}

.Yolov8-description {
    font-size: 1.2rem;
    font-weight: bold;
    color: #f5b6dc;
    /* Add any other styles you want for the additional text here */
}

.Model-yolov8-seg {
    width: 100%;
    height: 60vh;
    background-image: url("./Images/segmentation.png");
    background-size: cover;
    background-position: center;
    position: relative;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 15px;
}

.Model-SAM {
    width: 100%;
    height: 60vh;
    background-image: url("./Images/SAM.png");
    background-size: cover;
    background-position: center;
    position: relative;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 15px;
}
  
