/* styles.css */

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Horizontally center images */
    gap: 8px; /* Add spacing between images */
  }
  
  .image-container img {
    max-width: 100%; /* Ensure images don't exceed their container width */
    height: 10%; /* Maintain image aspect ratio */
  }
  