#rotor-derecho,
#rotor-izquierdo {
  animation: rotores 1s linear infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#chasis-drone {
  animation: drone infinite ease-in-out 1s alternate;
  transform-origin: center;
}

#pro-camara {
  animation: camara infinite ease-in-out 1s alternate;
  transform-origin: center;
}

.svg-container {
  height: 300px;
  width: 300px;
  z-index: 0;
  margin-left: 580px;
  position: relative;

  padding-bottom: 80%;

  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes rotores {
  from {
    transform: rotateY(0deg) translateY(-40%);
  }
  to {
    transform: rotateY(3000deg) translateY(10%);
  }
}

@keyframes drone {
  from {
    transform: rotateX(0deg) translateY(-2%);
  }
  to {
    transform: rotateX(10deg) translateY(0%);
  }
}

@keyframes camara {
  from {
    transform: translateY(-1.5%);
  }
  to {
    transform: translateY(0%);
  }
}
