/* Yolov8metrics.css */
.yolov8metrics-container {
    background-color: #fff;
    border: 1px solid #21034a;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.534);
    margin-top: 20px;
    /* Adjust the width and height as needed */
    height: 950px; /* Change to your desired height */
    /* Add more styles as needed */
  }
  
  .image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .image-item {
    flex: 1;
    margin-right: 10px;
  }
  
  .image-item:last-child {
    margin-right: 0;
  }
  
  .image-item img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .text-container {
    margin-top: 20px;
    text-align: center;
    margin-left: 500px;
  }
  
  .big-bold-text {
    font-size: 20px;
    font-weight: bold;
  }
  
  .table-container {
    margin-top: 20px;
    width: 70%; /* Adjust the width as needed */
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px; /* Rounded outer table border */
    overflow: hidden; /* Hide the border-radius overflow */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 8px;
  }
  
  th, td {
    border: 1px solid #f0a1a1;
    padding: 8px;
    text-align: center; /* Rounded inner table borders */
  }
  
  th {
    background-color: #f6dfdf; /* Black background for headers */
    color: #000000; /* White text for headers */
  }
  
  .bottom-images-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .bottom-image-item {
    margin: 0 10px;
  }
  
  .bottom-image-item img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 8px;
  }
  